# AWS
AWS_REGION=ap-south-1

# Terraform
TF_VAR_project_name=enterprise-url-shortener
TF_VAR_aws_region=ap-south-1

# DynamoDB Table
TABLE_NAME=enterprise-url-shortener-table

# API Gateway Base URL
API_BASE=https://replace-with-your-api-id.execute-api.ap-south-1.amazonaws.com

# Optional
CUSTOM_DOMAIN=example.com
ENABLE_ANALYTICS=true